@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*font-family: 'Source Sans Pro', sans-serif; */





* {
    padding: 0;
    margin: 0;
}

body {
    border: 3px solid black;
}

.navbar1 {
    display: flex;
    height: 10vh;
}

#twoleft {
    width: 50%;
}

#twoleft ul b {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 0.9rem;
    padding-left: 10vh;
    padding-top: 2.3vh;
}

#twoleft ul b li a {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

#twoleft ul b li {
    padding: 10px
}

#twoleft ul b li :hover {
    text-decoration: underline;
}

#rightthree {
    width: 50%;
    display: flex;
}

#rightthree form {
    margin-top: 3vh;
    padding-top: 1.5vh;
}

#search1 {
    width: 30vh;
    padding: 1vh;
}

#btnsearch {
    padding: 1vh;
    margin-left: -4px;
    z-index: 5px
}

#language {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

#language a {
    color: black;
    text-decoration: none;
}

#language a:hover {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

/* navbar 2designing */
.navbar2 {
    height: 22vh;
    display: flex;align-items: center;padding-left:40px
}
#uen {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar2 h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

#ashok {
    width: 15vh;
    /* margin-left: 40px; */
    margin-top: px
}

#ashok img {
    width: 100%
}

#digitalindia {
    width: 28vh;
    margin-left: 40vh
}

#digitalindia img {
    width: 100%
}

#ajadila {
    width: 30vh;
    
}

#ajadila img {
    width: 100%
}

/*navbar 2 end*/
/*navbar3 start*/
.slideleft{background-color: #333333;height:35px;display:flex;padding-left:18vh}
#bh{width:150vh;color:yellow;font-family: 'lato', sans-serif;font-size:1.2rem;padding-top:7px;}
.slideleft img{border-radius:30px;height:30px;margin-top:3px}
#btnviewall{height:25px;color:blue;margin-top:5px;cursor:pointer;}














.activities{height:70vh;display:flex}
.nav_menu_about{width:25%;padding-top:30px}
#allabout{margin-left:60px;}
#aboutupsc{font-weight: 800;font-size: 1.9rem;font-family: 'Source Sans Pro', sans-serif;color:#205786}
#nav_menu_tw{display:flex;justify-content: space-between;align-items:center;}
#people_logo{height:30px;margin-right:30px}
#people_logo img{height:100%}

.nav_menu_about ul{margin-top:15px;margin-left:10px;line-height: 33px;}
.nav_menu_about ul li{color:rgb(219, 117, 44);font-family: 'lato', sans-serif;font-weight: 700;font-size: 1.1rem;}
.nav_menu_about ul li a{text-decoration: none;color:black}
.nav_menu_about ul li a:hover{text-decoration: none;color:blue;text-decoration:underline black;}

.nav_menu_examination{background-color: aliceblue;width:25%;line-height: 25px;}
.allvk{width:280px;margin-left:18px}
#examlogo{height:50px;}
#examlogo img{height:80%;margin-top:5px;margin-right:10px}
.stair{display:flex;background-color:#255e90;margin-top:25px;justify-content:space-between;align-items:center;width:280px;}
#examal{color:white;font-size:2rem;font-family: 'Source Sans Pro', sans-serif;padding-top:5px;margin-left:10px} 
.allexamca a{color:black;text-decoration:none;font-size: 1.2rem;font-family: 'Source Sans Pro', sans-serif;}
.allexamca a:hover{color:blue;text-decoration: underline ;text-decoration-color:black;}
.nav_menu_recquirement{background-color: rgb(249, 252, 250);width:25%}
#forthco{color:rgb(19, 19, 100);font-size:1.4rem;font-family: 'Source Sans Pro', sans-serif;margin:10px 0px}
.allvk ul{font-size:1.2rem;font-family: 'Source Sans Pro', sans-serif}
.allvk ul li a{text-decoration:none;color:black;}
.allvk ul li{list-style:square;color:rgb(12, 7, 162)}
.allvk ul li a:hover{color:blue;text-decoration: underline;text-decoration-color: black;}
#allexa{text-align:end;margin-top:20px;font-size:1.2rem;font-family: 'Source Sans Pro', sans-serif}

.allvikas{margin-left:18px;font-size:1.2rem;line-height:28px} 
#twoupb{display:flex;justify-content: space-between;}
.nav_menu_recquirement ul li a{text-decoration:none;color:black;}
.nav_menu_recquirement ul li{list-style:square;color:rgb(12, 7, 162);font-family: 'Source Sans Pro', sans-serif}
/* #aboutupsc{font-weight: 800;font-size: 1.9rem;font-family: 'Source Sans Pro', sans-serif;color:#205786}
#nav_menu_tw{display:flex;justify-content: space-between;align-items:center;} */
#reclogo{height:30px;margin-right:30px}
#reclogo img{height:100%}


.allextra{width:25%;}
.noteal{display:inline-grid;}
    
#examnoti img{width:35px;height:40px;border-radius:20px}
#examnoti{background-color: #21415d;}
#exas img{width:35px;height:40px}
#exas{background-color: white;}
#exaw img{width:35px;height:40px;border-radius:30px;}
#exaw{background-color: coral;}
#examnot img{width:35px;height:40px}
#examnotn img{width:35px;height:40px}
#examnotn{background-color:#70b8f7}
#vikra img{width:35px;height:40px}
#vikra{background-color: #0af17a;}
#vikrase img{width:35px;height:40px}
.noteal a {
    border: 1.2px solid #2C4963;
    text-align: center;
    text-decoration: none;width:270px;display:flex;height:50px;
    color: black;
    background-color: rgb(233, 232, 232);
    margin:5px 0px
}

.extrat {
    background-color: #205786;
    height: 100px;
    width: 91.5%;
    margin-left: 57px;
}

.extra {
    display: flex;
    justify-content: center;
    font-family: 'lato', sans-serif;
    align-items: center;
    height: 50%;
    align-items: center;
    padding-top: 25px;
    font-weight: 700;
}

.extra p {
    color: white;
    height: 30px;
    padding-top: 15px;
    padding-left: 3px
}


.extra a {
    text-decoration: none;
}

#tender {
    width: 120px;
    display: flex;
    padding: 3px 10px
}

#tender:hover {
    background-color: #21415d;
}

#tender img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    ;
}

#report {
    width: 165px;
    display: flex;
    padding: 3px 10px
}

#report:hover {
    background-color: #21415d;
}

#report img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

#single {
    width: 220px;
    display: flex;
    padding: 3px 10px
}

#single:hover {
    background-color: #21415d;
}

#single img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

#court {
    width: 180px;
    display: flex;
    padding: 3px 10px
}

#court:hover {
    background-color: #21415d;
}

#court img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

#green {
    width: 180px;
    display: flex;
    padding: 3px 10px
}

#green:hover {
    background-color: #21415d;
}

#green img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

#swaksh {
    width: 165px;
    display: flex;
    padding: 3px 10px
}

#swaksh:hover {
    background-color: #21415d
}

#swaksh img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}


/*extra links start*/
.external {
    display: flex;
    width: 92%;
    height: 55vh;
    margin-top: 7vh;
    margin-left: 50px;
}

.linksout {
    width: 75%;
    font-family: 'Source Sans Pro', sans-serif;
}

#line {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    width: 160px;
    height: 40px;
    background-color: #536b80;
    text-align: center;
    padding-top: 10px
}

#line p {
    text-decoration: none;
    color: rgb(249, 249, 249);
    cursor: pointer;
}

#line p:hover {
    text-decoration: none;
    color: greenyellow;
    cursor: pointer;
    text-decoration: underline red;
}

.linkmain {
    background-color: rgba(194, 193, 193, 0.2);
    height: 30vh;
    border: 1px solid rgb(179, 177, 177);
}

#linkmaina {
    display: flex;
    line-height: 60px;
}

#national {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin-left: 30px;
}

#national:hover {
    text-decoration: underline;
}

#depart {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin-left: 220px
}

#depart:hover {
    text-decoration: underline;
}

#state {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin-left: 30px;
}

#state:hover {
    text-decoration: underline;
}

#comm {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    margin-left: 153px
}

#comm:hover {
    text-decoration: underline;
}

#she {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    width: 50%;
    margin-left: 30px;
}

#she:hover {
    text-decoration: underline;
}

#linkmainb {
    display: flex;
}

#linkmainc {
    line-height: 50px
}

#allv {
    text-align: end;
    padding-right: 2.6em;
    font-size: 1.2rem;
    font-weight: 400;
}

#allv a {
    text-decoration: none;
}

#allv a:hover {
    text-decoration: underline black;
}

.ourteam {
    width: 25%;
    margin-left: 50px
}




.ourteam {
    display: inline-grid;
    height: 38vh;
    font-size: 1.1rem;
    font-family: 'lato', sans-serif;
    font-weight: 900;
    margin-top: 8vh
}

.ourteam a {
    border: 1.2px solid #2C4963;
    text-align: center;
    text-decoration: none;
    padding-top: 7px;
    margin: 2px;
    color: black;
    background-color: rgb(233, 232, 232);
}



/* footer start */
.footer {
    height: 40vh;
    background-color: #2C4963;
}

.hj {
    padding-top: 7px;
    color: rgb(177, 182, 186)
}

.footer ul {
    display: flex;
    text-align: center;
    padding-top: 40px;
    margin-left: 90px
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    margin: 10px;
    padding: 5px
}

.footer ul li a:hover {
    background-color: deepskyblue;
    border-radius: 6px;
}

.management {
    display: flex;
    margin-left: 300px;
    padding-top: 50px
}

#owner {}

#owner p {
    color: rgb(160, 167, 173);
}

.vkjl {
    color: aliceblue
}

#vjk {
    color: rgb(232, 235, 237);
    margin-left: 210px
}








/* .justify{background-color: rgb(0, 255, 42);border:2px solid red;height:200px;width:200px;text-align:justify} */

 
/* Styling the area of the slides */
 .allslidei{background-color: #205786;height:500px;display:flex;}
#vgh{width:43%;font-size: 1.1rem;}
#upsl{height:88%;margin-left:20px}
#vgh ul li a{color:white;text-decoration: none;font-family: 'lato', sans-serif;}

#vgh ul li a:hover{text-decoration:underline;}

#slideshow {
    overflow: hidden;
   
    width: 57%;
    
}
 
/* Style each of the sides
with a fixed width and height */
 
.slide {
    float: left;
    height: 500px;
    width: 728px;
}
 .slide img{width:100%;height:100%}
/* Add animation to the slides */
 
.slide-wrapper {
     
    /* Calculate the total width on the
  basis of number of slides */
    width: calc(728px * 4); 
     
    /* Specify the animation with the
  duration and speed */
    animation: slide 18s ease infinite;
}
 

 
/* Define the animation
for the slideshow */
 
@keyframes slide {
     
    /* Calculate the margin-left for
  each of the slides */
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-728px * 1);
    }
    60% {
        margin-left: calc(-728px * 2);
    }
    80% {
        margin-left: calc(-728px * 3);
    }
}